<!DOCTYPE html>
<html>
<head></head>
    <body>
        {{>header}}
        <link rel="stylesheet" href ="/css/styles.css">
        <img src = "/img/myprofile.jpeg">
        {{>footer}}
    </body>

</html>